$color-black: rgb(11, 9, 8);
$color-gold: #c1af79;
$color-beige: rgb(243, 233, 209);
$color-red: rgb(212, 73, 73);
$color-orange: rgb(212, 145, 73);
$color-yellow: rgb(212, 177, 73);
$color-green: rgb(88, 188, 133);
$color-gold-dark: rgb(225, 183, 62);
$color-gold-darker: rgb(208, 146, 56);
