<div class='field'>
  <label>{{loc 'notes'}}</label>
  {{editor
    systemData.notes
    target='system.notes'
    rollData=rollData
    button=true
    owner=owner
    editable=editable
    engine='prosemirror'
  }}
</div>